.rotate-z--10:hover {
      transform: rotateZ(-10deg);
    }
    .rotate-y--50:hover .notebook-cover {
      transform: rotateY(-50deg);
      z-index: 999;
      box-shadow: 20px 10px 50px rgba(0,0,0,0.2);
    }
    .custom-gradient {
      background: linear-gradient(to right, #a03e3b 0%, #cc4b48 12%, #a03e3b 25%, #cc4b48 37%, #a03e3b 50%, #cc4b48 62%, #a03e3b 75%, #cc4b48 87%, #a03e3b 100%);
    }
    .custom-gradient-blue {
      background: linear-gradient(to right, #276f82 0%, #2e95aa 12%, #276f82 25%, #2e95aa 37%, #276f82 50%, #2e95aa 62%, #276f82 75%, #2e95aa 87%, #276f82 100%);
    }
    .custom-gradient-green {
      background: linear-gradient(to right, #8b9e97 0%, #abc3b5 12%, #8b9e97 25%, #abc3b5 37%, #8b9e97 50%, #abc3b5 62%, #8b9e97 75%, #abc3b5 87%, #8b9e97 100%);
    }
    .custom-gradient-yellow {
      background: linear-gradient(to right, #c8ab48 0%, #fed754 12%, #c8ab48 25%, #fed754 37%, #c8ab48 50%, #fed754 62%, #c8ab48 75%, #fed754 87%, #c8ab48 100%);
    }
